<template>
	<div v-if="isActive" @click="closeModal" class="absolute top-0 left-0 h-screen w-screen bg-black opacity-80 z-10"></div>
	<div v-if="isActive" class="alert bg-white p-5 rounded-2xl bg-white text-black z-20 text-sm whitespace-nowrap">
		{{ errorMessage }}
	</div>
</template>

<script>
export default {
	name: 'Alert',
	computed: {
		errorMessage () {
			return this.$store.state.error
		},
		isActive () {
			return this.$store.getters.isErrorActive
		}
	},
	methods: {
		closeModal () {
			this.$store.commit('clearError')
		}
	}
}
</script>

<style scoped>

</style>
