<template>
	<div @click="closeModal" class="absolute top-0 left-0 h-screen w-screen bg-black opacity-60"></div>
	<div class="absolute bottom-0 right-0 left-0 bg-white p-5 rounded-t-2xl dark:bg-slate-700 dark:text-white">
		<h1 class="mb-4 text-lg font-semibold">Yeni Bir Görev Ekle</h1>
		<div class="flex flex-col mb-4">
			<input v-model="task.name" type="email"
			       class="dark:bg-slate-500 bg-slate-200 p-2 rounded-md"
			       placeholder="Görev..."
			>
		</div>
		<div v-if="task.until_at !== ''" class="flex flex-col mb-4">
			<label class="dark:text-slate-200 text-black text-sm">Son Tarih:</label>
			<input v-model="task.until_at" type="date" :min="today"
			       class="dark:bg-slate-500 bg-slate-200 p-2 rounded-md"
			>
		</div>
		<button v-else @click="selectUntil = true" class="text-rose-600">Son tarih ekleyin</button>
		<div id="dropdownDivider"
		     v-click-outside="closeUntil"
		     :class="selectUntil ? '' : 'hidden'"
		     class="absolute shadow-2xl bottom-2 left-10 z-10 w-44 border text-base list-none bg-white rounded divide-y divide-gray-100 dark:bg-slate-700 dark:divide-gray-600">
			<ul class="py-1" aria-labelledby="dropdownDividerButton">
				<li>
					<a href="#"
					   @click="selectDate(today)"
					   class="block py-2 px-4 text-sm text-slate-700 dark:text-slate-200">
						Bugün
					</a>
				</li>
				<li>
					<a href="#"
					   @click="selectDate(tomorrow)"
					   class="block py-2 px-4 text-sm text-slate-700 dark:text-slate-200">
						Yarın
					</a>
				</li>
				<li>
					<a href="#"
					   @click="selectDate(null)"
					   class="block py-2 px-4 text-sm text-slate-700 dark:text-slate-200">
						Tarih Seçin
					</a>
				</li>
			</ul>
		</div>
		<div>
			<button @click="createTask" class="float-right bg-rose-600 px-4 py-2 text-white rounded-md">Kaydet</button>
		</div>
	</div>
</template>

<script>
import {Dialog} from '@capacitor/dialog'

export default {
	name: 'CreateTaskModal',
	props: {
		list: {
			required: true,
			type: Number,String
		}
	},
	data () {
		return {
			selectUntil: false,
			task: {
				name: '',
				until_at: '',
				project_id: this.list
			}
		}
	},
	computed: {
		today () {
			let today = new Date()

			return this.getDate(today)
		},
		tomorrow () {
			const today = new Date()
			let tomorrow = new Date(today)
			tomorrow.setDate(tomorrow.getDate() + 1)

			return this.getDate(tomorrow)
		}
	},
	created() {

	},
	methods: {
		closeUntil () {
			this.selectUntil = false
		},
		selectDate (date) {
			this.task.until_at = date
			this.closeUntil()
		},
		getDate (date) {
			let dd = date.getDate()
			let mm = date.getMonth() + 1 //January is 0!
			const yyyy = date.getFullYear()

			if (dd < 10) {
				dd = '0' + dd;
			}

			if (mm < 10) {
				mm = '0' + mm;
			}

			date = yyyy + '-' + mm + '-' + dd;

			return date
		},
		createTask() {
			if (this.task.name.length > 0) {
				this.$axios.post('/tasks', this.task).then(() => {
					this.$store.dispatch('getCustomLists')
					this.$store.dispatch('getDefaultLists')
					this.closeModal()
				}).catch(async (e) => {
					await Dialog.alert({
						title: 'Hata!',
						message: e.response.data.message
					})
				})
			}
		},
		closeModal () {
			this.$parent.createTask = false
		}
	}
}
</script>

<style scoped>

</style>
