<template>
	<div @click="$emit('close')" class="absolute top-0 left-0 h-screen w-screen bg-black opacity-60"></div>
	<div class="absolute bottom-0 right-0 left-0 bg-white p-5 rounded-t-2xl dark:bg-slate-700 dark:text-white">
		<div class="mb-2">
			<label class="font-semibold block">Liste Adı:</label>
			<input type="text" v-model="list.name" class="w-full dark:bg-slate-500 bg-slate-200 p-2 rounded-md">
		</div>
		<h1 class="mb-3 font-semibold">Liste Rengi:</h1>
		<div class="mb-8 grid grid-cols-6 gap-2">
			<div class="relative">
				<label for="indigo"
				       class="border-2 block box-border from-indigo-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'indigo-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="indigo" value="indigo-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="orange"
				       class="border-2 block box-border from-orange-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'orange-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="orange" value="orange-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="lime"
				       class="border-2 block box-border from-green-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'green-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="lime" value="green-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="rose"
				       class="border-2 block box-border from-rose-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'rose-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="rose" value="rose-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="fuchsia"
				       class="border-2 block box-border from-fuchsia-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'fuchsia-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="fuchsia" value="fuchsia-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="teal"
				       class="border-2 block box-border from-teal-400 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'teal-400' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="teal" value="teal-400" class="opacity-0" v-model="list.color">
			</div>
		</div>
		<button @click="createList" class="float-right bg-rose-600 px-4 py-2 text-white rounded-md">Liste Oluştur</button>
	</div>
</template>

<script>
import {Dialog} from '@capacitor/dialog'

export default {
	name: 'CreateListModal',
	data() {
		return {
			list: {
				name: '',
				color: 'indigo-500'
			},
			colors: [
				'teal-400',
				'pink-500'
			]
		}
	},
	methods: {
		getBackgroundColor(color) {
			if (this.list.color === color) {
				return 'from-' + color + ' border-2 border-blue-500'
			} else {
				return 'from-' + color + ' border-2 border-white'
			}
		},
		createList () {
			this.$axios.post('/projects', this.list)
			.then(response => {
				this.$emit('refresh')
			})
			.catch(async (e) => {
				await Dialog.alert({
					title: 'Hata!',
					message: e.response.data.message
				})
			})
			.finally(() => {})
		}
	}
}
</script>

<style scoped>

</style>
