<template>
	<div class="rounded-2xl p-4 text-white h-36 flex flex-col items-center justify-center" :class="'bg-' + list.color">
		<i class="text-3xl" :class="list.icon"></i>
		<h1 class="font-semibold text-lg flex items-center mb-2">
			{{ list.name }}
		</h1>
		<p class="text-sm">Bekleyen Görev: <span class="font-bold">{{ unCheckedTasks }}</span></p>
	</div>
</template>

<script>
export default {
	name: 'DefaultListCard',
	props: {
		list: {
			type: Object,
			required: true
		}
	},
	computed: {
		unCheckedTasks () {
			const tasks = this.list.tasks.filter(task => {
				return task.is_done == 0
			})

			return tasks.length
		}
	}
}
</script>

<style scoped>

</style>
