<template>
	<div class="rounded-2xl p-4 text-white" :class="'bg-' + list.color">
		<div class="flex items-center justify-between">
			<h1 class="text-md flex items-center"><i class="mr-2" :class="list.icon"></i> {{ list.name }}</h1>
			<span class="text-sm"><span class="font-bold">{{ unCheckedTasks }}</span> Görev</span>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		list: {
			type: Object,
			required: true
		}
	},
	computed: {
		unCheckedTasks () {
			const tasks = this.list.tasks.filter(task => {
				return task.is_done == 0
			})

			return tasks.length
		}
	}
}
</script>

<style>

</style>
