<template>
	<div class="bg-yellow-400 rounded-2xl p-4 text-white h-36 flex flex-col items-center justify-center">
		<i class="ri-shopping-basket-line text-3xl"></i>
		<h1 class="font-semibold text-lg flex items-center mb-2">
			Alışveriş Listesi
		</h1>
		<p class="text-sm text-teal-400 text-fuchsia-500 text-rose-500 text-orange-500 text-indigo-500 text-green-500 bg-teal-400 bg-fuchsia-500 bg-red-500 bg-blue-400 bg-rose-500 bg-orange-500 bg-indigo-500 bg-green-500 text-red-500 text-yellow-400 text-blue-400">Bekleyen Görev: <span class="font-bold">20</span></p>
	</div>
</template>

<script>
export default {
	name: 'ShoppingCard'
}
</script>

<style scoped>

</style>
