@import url('remixicon/fonts/remixicon.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    overflow: hidden;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

*:focus-visible {
    outline: 0;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.lists {
    height: calc(100vh - 5.5rem);
}

.alert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.task_checked {
    opacity: 0;
}

.checked {
    top: -0.05rem;
    left: 15%;
}
