<template>
	<div :class="mode">
		<div class="dark:bg-slate-800 dark:text-white">
			<div class="pt-8"></div>
			<router-view @mode="changeMode"></router-view>
		</div>
	</div>
	<Alert></Alert>
</template>

<script>
import {Storage} from '@capacitor/storage'
import {StatusBar, Style} from '@capacitor/status-bar'
import Alert from './components/Alert.vue'
import {SplashScreen} from '@capacitor/splash-screen'

export default {
	data () {
		return {
			mode: ''
		}
	},
	components: {
		Alert
	},
	watch: {
		mode: function (value) {
			if (value === 'dark') {
				StatusBar.setStyle({ style: Style.Dark })
			} else {
				StatusBar.setStyle({ style: Style.Light })
			}
		}
	},
	async created() {
		const token = await Storage.get({
			key: 'token'
		})

		if (token.value) {
			this.$store.dispatch('getUser')
		}

		StatusBar.setOverlaysWebView({ overlay: true })

		SplashScreen.hide()

		this.mode = await this.checkMode()

		if (!this.mode) {
			let matched = window.matchMedia('(prefers-color-scheme: dark)').matches;

			if(matched) {
				const setDarkMode = async () => {
					await Storage.set({
						key: 'mode',
						value: 'dark',
					});
				};

				this.mode = 'dark'
			}
			else {
				const setDarkMode = async () => {
					await Storage.set({
						key: 'mode',
						value: 'light',
					});
				};

				this.mode = 'light'
			}
		}
	},
	methods: {
		async checkMode () {
			return (await Storage.get({key: 'mode'})).value
		},
		changeMode() {
			if (this.mode === 'dark') {
				this.mode = 'light'
			} else {
				this.mode = 'dark'
			}
		}
	}
}
</script>

<style>
@import './assets/main.css';
</style>
