<template>
	<div>
		<div class="flex justify-between px-4 py-2 border-b border-solid">
			<div class="flex">
				<div class="text-center bg-rose-600 text-white h-12 w-12 rounded-full">
					<span class="text-xl font-semibold leading-none mt-3.5 block">{{ letters }}</span>
				</div>
				<div class="flex flex-col justify-center ml-2">
					<span class="text-sm flex items-center leading-none font-bold dark:text-white">{{
							user.name
						}}</span>
					<span class="text-sm dark:text-white">{{ user.email }}</span>
				</div>
			</div>
			<div class="flex text-2xl dark:text-white items-center">
				<button id="dropdownButton" data-dropdown-toggle="dropdown" @click="settingsOpen = true">
					<i class="ri-settings-3-line"></i>
				</button>
				<div id="dropdownDivider" v-click-outside="closeSettings"
				     :class="settingsOpen ? '' : 'hidden'"
				     class="absolute shadow-2xl top-20 border right-4 z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 dark:bg-slate-700 dark:divide-gray-600">
					<ul class="py-1" aria-labelledby="dropdownDividerButton">
						<li>
							<a href="#"
							   @click="$emit('mode')"
							   class="block py-2 px-4 text-sm text-slate-700 dark:text-slate-200">
								{{ mode === 'dark' ? 'Aydınlık Mod' : 'Karanlık Mod' }}
							</a>
						</li>
					</ul>
					<div class="py-1">
						<a href="#"
						   @click="logout"
						   class="block py-2 px-4 text-sm text-slate-700 dark:text-slate-200">
							Çıkış Yap
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="p-4 pb-2 overflow-y-auto lists">
			<div class="grid grid-cols-2 gap-2">
				<router-link v-for="(list, i) in defaultLists" :key="i" :to="`/list/1/${i}`">
					<DefaultListCard :list="list"></DefaultListCard>
				</router-link>
			</div>
			<div class="grid grid-cols-1 gap-2 pt-2">
				<div class="flex items-center justify-between p-1 text-rose-600 dark:text-rose-500">
					<h1 class="font-semibold">Listeleriniz</h1>
					<button @click="createModalOpen = true"><i
						class="ri-add-line text-xl leading-normal"></i></button>
				</div>
				<router-link v-for="(list, i) in customLists" :key="i" :to="`/list/0/${i}`">
					<ListCard :list="list"></ListCard>
				</router-link>
			</div>
			<CreateListModal v-if="createModalOpen" @close="createModalOpen = false"
			                 @refresh="getCustomLists"></CreateListModal>
		</div>
	</div>
</template>

<script>
import ListCard from '../components/ListCard.vue'
import DefaultListCard from '../components/DefaultListCard.vue'
import CreateListModal from '../components/CreateListModal.vue'
import {Storage} from '@capacitor/storage'

export default {
	name: 'Home',
	components: {
		ListCard,
		DefaultListCard,
		CreateListModal
	},
	data() {
		return {
			createModalOpen: false,
			settingsOpen: false,
		}
	},
	computed: {
		user() {
			return this.$store.state.user
		},
		mode() {
			return this.$parent.$parent.mode
		},
		defaultLists () {
			return this.$store.state.defaultLists
		},
		customLists () {
			return this.$store.state.customLists
		},
		letters() {
			return this.user.name.split(/\s/).reduce((response, word) => response += word.slice(0, 1), '')
		},
	},
	created() {
		this.getDefaultLists()
		this.getCustomLists()
	},
	methods: {
		closeSettings() {
			this.settingsOpen = false
		},
		async logout() {
			await Storage.remove({
				key: 'token'
			})
			this.$store.commit('setUser', null)
		},
		getCustomLists() {
			this.createModalOpen = false
			this.$store.dispatch('getCustomLists')
		},
		getDefaultLists() {
			this.$store.dispatch('getDefaultLists')
		}
	}

}
</script>
