<template>
	<div class="dark:bg-slate-800 h-screen">
		<div class="relative">
			<h1 class="flex items-center justify-between text-lg border-b border-solid pb-3 mb-4">
				<button class="pt-1" @click="$router.push({name: 'home'})">
					<i class="ri-arrow-left-s-line text-xl ml-3"></i>
				</button>
				<span class="font-semibold" :class="`text-${list.color}`">{{ list.name }}</span>
				<button class="pt-2" v-if="isChangeable" @click="editActive = true">
					<i class="ri-more-2-fill text-xl mr-3"></i>
				</button>
				<button class="w-3" v-else>

				</button>
			</h1>
			<div
				v-if="isChangeable"
				v-click-outside="closeEdit"
				:class="editActive ? '' : 'hidden'"
				class="absolute shadow-2xl top-7 right-4 z-10 w-44 border text-base list-none bg-white rounded divide-y divide-gray-100 dark:bg-slate-700 dark:divide-gray-600">
				<ul class="py-1" aria-labelledby="dropdownDividerButton">
					<li>
						<a @click="editModalActive = true; editActive = false" href="#"
						   class="block py-2 px-4 text-sm text-slate-700 dark:text-slate-200">
							Listeyi Düzenle
						</a>
					</li>
					<li>
						<a href="#"
						   @click="deleteList"
						   class="block py-2 px-4 text-sm text-slate-700 dark:text-slate-200">
							Listeyi Sil
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div v-for="task in list.tasks" :key="task.id"
		     class="flex items-center relative dark:bg-slate-700 bg-slate-100 mx-2 rounded-md p-3.5 mb-1 dark:text-white text-slate-900">
			<div @click="completeTask(task)"
			     class="flex items-center justify-center w-5 h-5 block border dark:border-slate-200 border-slate-800 rounded-full"
			     :class="task.is_done ? 'dark:bg-slate-200 bg-slate-800' : 'bg-transparent'"
			>
				<i v-if="task.is_done"
				   class="ri-check-line dark:text-black text-slate-200 font-semibold mt-0.5"></i>
			</div>
			<div @click="goToTask(task)" class="text-sm ml-2 flex-1" :class="task.is_done ? 'line-through' : ''">
				{{ task.name }}
			</div>
			<div @click="changeUntilAt(task)"
			     class="flex items-center justify-center ml-auto text-lg"
			     :class="isToday(task.until_at) ? 'text-yellow-500' : 'text-black dark:text-slate-200'"
			>
				<i :class="isToday(task.until_at) ? 'ri-sun-fill' : 'ri-sun-line'" class="font-semibold mt-0.5"></i>
			</div>
		</div>

		<div class="absolute bottom-2 right-2" v-if="isAddable">
			<button @click="createTask = true"
			        :class="`bg-${list.color}`"
			        class="flex items-center justify-center text-4xl h-16 w-16 rounded-full text-white">
				<span class="mb-1">+</span>
			</button>
		</div>
		<CreateTaskModal v-if="createTask" :list="list.id" @close="createTask = false"></CreateTaskModal>
	</div>


	<div v-show="editModalActive" @click="editModalActive = false" class="absolute top-0 left-0 h-screen w-screen bg-black opacity-60"></div>
	<div v-show="editModalActive" class="absolute bottom-0 right-0 left-0 bg-white p-5 rounded-t-2xl dark:bg-slate-700 dark:text-white">
		<div class="mb-2">
			<label class="font-semibold block">Liste Adı:</label>
			<input ref="listname" @focusout="changeListName" type="text" :value="list.name" class="w-full dark:bg-slate-500 bg-slate-200 p-2 rounded-md">
		</div>
		<h1 class="mb-3 font-semibold">Liste Rengi:</h1>
		<div class="mb-8 grid grid-cols-6 gap-2">
			<div class="relative">
				<label for="indigo"
				       class="border-2 block box-border from-indigo-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'indigo-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="indigo" value="indigo-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="orange"
				       class="border-2 block box-border from-orange-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'orange-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="orange" value="orange-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="lime"
				       class="border-2 block box-border from-green-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'green-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="lime" value="green-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="rose"
				       class="border-2 block box-border from-rose-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'rose-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="rose" value="rose-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="fuchsia"
				       class="border-2 block box-border from-fuchsia-500 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'fuchsia-500' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="fuchsia" value="fuchsia-500" class="opacity-0" v-model="list.color">
			</div>
			<div class="relative">
				<label for="teal"
				       class="border-2 block box-border from-teal-400 bg-gradient-to-br to-white p-5 rounded-full absolute"
				       :class="list.color === 'teal-400' ? 'border-blue-500 dark:border-blue-100' : 'border-white dark:border-slate-700'">
				</label>
				<input type="radio" id="teal" value="teal-400" class="opacity-0" v-model="list.color">
			</div>
		</div>
	</div>
</template>

<script>
import CreateTaskModal from '../components/CreateTaskModal.vue'
import {Dialog} from '@capacitor/dialog'

export default {
	name: 'List',
	data() {
		return {
			createTask: false,
			editActive: false,
			editModalActive: false,
			_list: {
				name: '',
				color: ''
			}
		}
	},
	components: {
		CreateTaskModal
	},
	watch: {
		'list.name': {
			handler: function (value, old) {
				if (old !== null && value !== undefined) {
					this.$axios.put(`/projects/${this.list.id}`, this.list)
						.then(() => {
							this.$store.dispatch('getCustomLists')
						})
						.catch(async (e) => {
							await Dialog.alert({
								title: 'Hata!',
								message: e.response.data.message
							})
						})
				}
			},
			immediate: false
		},
		'list.color': {
			handler: function (value, old) {
				if (old !== null && value !== undefined) {
					this.$axios.put(`/projects/${this.list.id}`, this.list)
						.then(() => {
							this.$store.dispatch('getCustomLists')
						})
						.catch(async (e) => {
							await Dialog.alert({
								title: 'Hata!',
								message: e.response.data.message
							})
						})
				}
			}
		}
	},
	computed: {
		list: {
			get() {
				const isDefault = parseInt(this.$route.params.default)
				const index = this.$route.params.index

				if (isDefault) {
					this._list =  this.$store.state.defaultLists[index]
				} else {
					this._list =  this.$store.state.customLists[index]
				}
				return this._list
			},
			set (value) {

			}
		},
		isChangeable() {
			return this.list.name !== 'Günüm' && this.list.name !== 'Gecikenler' && !this.list.is_default
		},
		isAddable () {
			return this.list.name !== 'Günüm' && this.list.name !== 'Gecikenler'
		}
	},
	methods: {
		closeEdit() {
			this.editActive = false
		},
		completeTask(task) {
			task.is_done = !task.is_done
			this.$axios.put(`/tasks/${task.id}`, task).then(() => {
				this.$store.dispatch('getCustomLists')
				this.$store.dispatch('getDefaultLists')
			}).catch(async (e) => {
				await Dialog.alert({
					title: 'Hata!',
					message: e.response.data.message
				})
			})
		},
		isToday(date) {
			date = new Date(date)
			const today = new Date()
			const dd = date.getDate() === today.getDate()
			const mm = date.getMonth() === today.getMonth()
			const yy = date.getFullYear() === today.getFullYear()

			return dd && mm && yy
		},
		changeUntilAt(task) {
			const nowDate = new Date()
			const date = nowDate.getFullYear() + '/' + (nowDate.getMonth() + 1) + '/' + nowDate.getDate()

			task.until_at = task.until_at === null ? date : null
			this.$axios.put(`/tasks/${task.id}`, task).then(() => {
				this.$store.dispatch('getCustomLists')
				this.$store.dispatch('getDefaultLists')
			}).catch(async (e) => {
				await Dialog.alert({
					title: 'Hata!',
					message: e.response.data.message
				})
			})
		},
		async goToTask(task) {
			task.list = this.list.name
			task.color = this.list.color
			await this.$store.commit('setActiveTask', task)
			this.$router.push({name: 'task', params: {task: task.id}})
		},
		changeListName () {
			console.log('burada')
			this.list.name = this.$refs.listname.value
		},
		deleteList() {
			this.$axios.delete(`/projects/${this.list.id}`)
				.then(() => {
					this.$router.push({name: 'home'})
				})
				.catch(async (e) => {
					await Dialog.alert({
						title: 'Hata!',
						message: e.response.data.message
					})
				})
		}
	}
}
</script>

<style scoped>

</style>
