<template>
	<div class="h-screen">
		<div class="flex justify-center flex-col items-center mt-16">
			<h1 class="font-semibold text-3xl text-rose-600 mb-1">GNB TODO</h1>
			<p class="dark:text-slate-200 text-black text-sm mb-10">Gününüzü planlayın, hiçbir detayı kaçırmayın...</p>
			<div class="w-full px-16">
				<div class="flex flex-col mb-4">
					<label class="dark:text-slate-200 text-black text-sm">İsim:</label>
					<input v-model="user.name" type="text" class="dark:bg-slate-500 bg-slate-200 p-2 rounded-md">
					<p v-if="errors.name" class="text-sm text-red-600">{{ errors.name[0] }}</p>
				</div>
				<div class="flex flex-col mb-4">
					<label class="dark:text-slate-200 text-black text-sm">E-Posta:</label>
					<input v-model="user.email" type="email" class="dark:bg-slate-500 bg-slate-200 p-2 rounded-md">
					<p v-if="errors.email" class="text-sm text-red-600">{{ errors.email[0] }}</p>
				</div>
				<div class="flex flex-col mb-6">
					<label class="dark:text-slate-200 text-black text-sm">Şifre:</label>
					<input v-model="user.password" type="password" class="dark:bg-slate-500 bg-slate-200 p-2 rounded-md">
					<p v-if="errors.password" class="text-sm text-red-600">{{ errors.password[0] }}</p>
				</div>
				<div class="mb-10">
					<button @click="register" class="bg-rose-600 px-4 py-1.5 text-white rounded-md">Kayıt Ol</button>
				</div>
			</div>
			<div class="text-sm dark:text-slate-200 text-black">
				<p>Zaten üye misiniz?
					<router-link to="/login" class="text-rose-600 ml-1">Giriş yapın.</router-link>
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import {Storage} from '@capacitor/storage'
import {Dialog} from '@capacitor/dialog'

export default {
	name: 'Register',
	data() {
		return {
			user: {
				name: '',
				email: '',
				password: ''
			},
			errors: {}
		}
	},
	created() {
		document.querySelector('.light,.dark').classList.add('bg-image')
	},
	unmounted() {
		document.querySelector('.light,.dark').classList.remove('bg-image')
	},
	methods: {
		async register() {
			this.errors = {}
			try {
				const response = await this.$axios.post('/register', this.user)
				const token = response.data.token
				const _token = await Storage.set({
					key: 'token',
					value: JSON.stringify(token)
				})
				this.$store.commit('setUser', response.data)
				this.$router.push({name: 'home'})
			} catch (e) {
				this.errors = e.response.data

				if (e.response.status === 401) {
					await Dialog.alert({
						title: 'Hata!',
						message: e.response.data.error
					})
				}

				if (e.response.status === 500) {
					await Dialog.alert({
						title: 'Hata!',
						message: e.response.data.message
					})
				}
			}
		}
	}
}
</script>

<style scoped>

</style>
