<template>
	<div class="h-screen">
		<div>
			<h1 class="flex items-center justify-between text-lg border-b border-solid pb-3 mb-4">
				<button class="pt-1" @click="$router.back()">
					<i class="ri-arrow-left-s-line text-xl ml-3"></i>
				</button>
				<span class="font-semibold" :class="`text-${task.color}`">{{ task.list }}</span>
				<button class="pt-2">
					<i class="ri-arrow-left-s-line text-transparent text-xl mr-3"></i>
				</button>
			</h1>
		</div>
		<div
			class="flex items-center relative dark:bg-slate-700 bg-slate-100 mx-2 rounded-md p-3.5 mb-2 dark:text-white text-slate-900">
			<div
				class="flex items-center justify-center w-5 h-5 block border dark:border-slate-200 border-slate-800 rounded-full"
				:class="task.is_done ? 'dark:bg-slate-200 bg-slate-800' : 'bg-transparent'"
			>
				<i v-if="task.is_done"
				   class="ri-check-line dark:text-black text-slate-200 font-semibold mt-0.5"></i>
			</div>
			<div class="text-sm ml-2 flex-1" :class="task.is_done ? 'line-through' : ''">
				{{ task.name }}
			</div>
			<div @click="changeUntilAt(task)"
			     class="flex items-center justify-center ml-auto text-lg"
			     :class="isToday ? 'text-yellow-500' : 'text-black dark:text-slate-200'"
			>
				<i :class="isToday ? 'ri-sun-fill' : 'ri-sun-line'" class="font-semibold mt-0.5"></i>
			</div>
		</div>
		<div class="dark:bg-slate-700 bg-slate-100 mx-2 rounded-md p-3.5 mb-2 dark:text-white text-slate-900 text-sm">
			<textarea ref="description" @focusout="addDescription" :value="task.description" class="w-full dark:bg-slate-500 bg-slate-200 p-2 rounded-md" placeholder="Açıklama ekle..."></textarea>

			<div v-if="task.until_at === null">
				<span>Son Tarih Ekleyin:</span>
				<div v-if="selectDate === false" class="mt-2">
					<button @click="task.until_at = today" class="rounded-md bg-rose-600 px-2 py-1 text-white mr-2">Bugün
					</button>
					<button @click="task.until_at = tomorrow" class="rounded-md bg-rose-600 px-2 py-1 text-white mr-2">
						Yarın
					</button>
					<button @click="selectDate = true" class="rounded-md bg-rose-600 px-2 py-1 text-white">Tarih Seç</button>
				</div>
				<div v-else class="mt-2">
					<input v-model="task.until_at" type="date" :min="today"
					       class="dark:bg-slate-500 bg-slate-200 p-2 rounded-md"
					       @focusout="selectDate = false"
					>
				</div>
			</div>
			<div v-else>
				Son Tarih: {{ new Date(task.until_at).toLocaleDateString() }}
				<button class="text-xs text-rose-600 ml-2" @click="task.until_at = null">Değiştir</button>
			</div>
		</div>

		<div class="absolute bottom-4 right-4">
			<button @click="deleteTask" class="rounded-full bg-red-500 text-xl h-12 w-12 text-white">
				<i class="ri-delete-bin-line"></i>
			</button>
		</div>
	</div>
</template>

<script>
import {Dialog} from '@capacitor/dialog'

export default {
	name: 'Task',
	data() {
		return {
			task: this.$store.state.activeTask,
			selectDate: false
		}
	},
	computed: {
		isToday() {
			const date = new Date(this.task.until_at)
			const today = new Date()
			const dd = date.getDate() === today.getDate()
			const mm = date.getMonth() === today.getMonth()
			const yy = date.getFullYear() === today.getFullYear()

			return dd && mm && yy
		},
		today() {
			let today = new Date()

			return this.getDate(today)
		},
		tomorrow() {
			const today = new Date()
			let tomorrow = new Date(today)
			tomorrow.setDate(tomorrow.getDate() + 1)

			return this.getDate(tomorrow)
		}
	},
	watch: {
		task: {
			handler: function () {
				this.$axios.put(`/tasks/${this.task.id}`, this.task)
					.then(() => {
						this.$store.dispatch('getCustomLists')
						this.$store.dispatch('getDefaultLists')
					})
					.catch(async (e) => {
						await Dialog.alert({
							title: 'Hata!',
							message: e.response.data.message
						})
					})
			},

			deep: true
		}
	},
	methods: {
		getDate(date) {
			let dd = date.getDate()
			let mm = date.getMonth() + 1 //January is 0!
			const yyyy = date.getFullYear()

			if (dd < 10) {
				dd = '0' + dd
			}

			if (mm < 10) {
				mm = '0' + mm
			}

			date = yyyy + '-' + mm + '-' + dd

			return date
		},
		changeUntilAt() {
			const nowDate = new Date()
			const date = nowDate.getFullYear() + '/' + (nowDate.getMonth() + 1) + '/' + nowDate.getDate()

			this.task.until_at = this.task.until_at === null ? date : null
		},
		addDescription () {
			this.task.description = this.$refs.description.value
		},
		deleteTask() {
			this.$axios.delete(`/tasks/${this.task.id}`)
				.then(() => {
					this.$store.dispatch('getCustomLists')
					this.$store.dispatch('getDefaultLists')
					this.$router.back()
				})
				.catch(async (e) => {
					await Dialog.alert({
						title: 'Hata!',
						message: e.response.data.message
					})
				})
		}
	}
}
</script>

<style scoped>

</style>
